
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

// Normal mode
$color-foreground:      #202020;
$color-background:      #8a2424;
$color-link:            #20e050;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
