 <div class="jumbotron">
        <h1>Sample - Templating</h1>
        <p>Welcome to templating using EJS</p>	
		
		  
   <ul> 
        <% data.links.forEach((item)=>{%> 
        <li><%=item%></li>  
        <%});%> 
    </ul> 

		
  </div>